$red: red;
$white: #fff;

$alert-colors: (
    "primary":skyblue,
    "success":green,
    "danger":red
);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #43a4ff;
}

button {
    all: unset;
}

.first-ui {
    padding: 50px 0px;
}

.ui-box {
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
}

.ui-box p {
    font-weight: 600;
    color: map-get($alert-colors, 'success');
}

.contact-btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: $red;
    color: #fff;
    border: 2px solid transparent;
}

.contact-btn:hover {
    border-color: $red;
    color: $red;
    background-color: #fff;
}